.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.banner .content {
  width: 50%;
  position: relative;
  z-index: 1;
  background-color: #ff7a42;
  padding: 5%;
  border-radius: 5%;
  opacity: 0.9;
  height: 65%;
}
.banner .content  img {
  width: 25%;
  margin-top: -34%;
  margin-left: 35%;
  background: #333;
  border-radius: 50%;
}
.banner .content span {
  color: white;
  display: block;
}
.banner .content i {
  color: white;
  background-color: #ff7a42;
  margin-left: 5%;
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}
.banner .content i:nth-of-type(1) {
  margin-left: 40%
}
.banner .content i:hover {
  color: #333;
}
.banner .content form {
  position: relative;
}
.banner .content  i.hide {
  margin: 0;
  position: absolute;
  top: 60px;
  left: 90%;
  background-color: white;
  color: #ff7a42;
}
.banner .content button {
  display: block;
  margin-left: 42%;
  margin-top: 15px;
  background: #333;
  outline: 0;
  border: none;
}
.banner .content .register span {
  display: inline-block;
  margin-top: 11px;
  color: #333;
  cursor: pointer;
}
@media(max-width: 770px) {
  .banner .content  i.hide {
    left: 85%;
  }
}
