<div class="container-fluid" id="contact">
  <div class="row">
    <div class="all">
      <div class="content">
        <div class="row">
          <div class="col-6">
            <h1>It's time to start investing in yourself in learning</h1>
            </div>
            <div class="col-6">
              <p>Match your goals to our programs, explore your options, and map out your path to success. I plan to use excellant for a long time!</p>
              <button class=" start btn input-group-text" routerLink="/category">Get Start</button>
            </div>
        </div>
      </div>
      <div class="social">
        <img src="../../assets/images/28954365_682250285232651_4173878979632851472_o-removebg-preview.png" alt="">
          <i class="fas fa-envelope"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-whatsapp-square"></i>
          <i class="fab fa-facebook-square"></i>
      </div>
      <p class="text-center">
        Copyright &copy; 2021 excellant
      </p>
    </div>
  </div>
</div>
