<section class="nav">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <img class="category-image" src="../../assets/images/cd.png" alt="">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/profile" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLink="/category" >Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active"(click)="ToContact()" >Contact us</a>
              </li>
              <li class="nav-item">
                <i class="fa fa-language language"></i>
              </li>
              <li>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  <option value="San Francisco">
                  <option value="New York">
                  <option value="Seattle">
                  <option value="Los Angeles">
                  <option value="Chicago">
                </datalist>
              </li>
            </ul>
          </div>
          <div class="enter">
            <i class="fas fa-bell bell"></i>
            <span>Mohamed</span>
            <div class="drop">
              <input class="btn" id="btna1" type="button" value="My profile" routerLink="/profile">
              <input class="btn" id="btna2" type="button" value="Log out" routerLink="/">
              <img class="image-profile" src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg" alt="">
            </div>
           </div>
            </div>
      </nav>
      </div>
    </div>
</section>

<section class="details">
  <div class="container">
    <div class="row">
        <div class="col-md-6 student-details">
        <img class="img-fluid" src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg" alt="">
        <h1>Mohamed Eid</h1>
        <p>The provider of this content doctor of mathematics</p>
      </div>
      <div class="col-md-6 icons">
        <i class="fab fa-youtube youtube"></i>
        <h5 class="view">100v</h5>
        <h5 class="time">3h:4m:18s</h5>
        <i class="fas fa-user-graduate graduate"></i>
        <div class="star">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    </div>
</section>




<video class="z-depth-1"  loop controls>
  <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4" type="video/mp4" />
  </video>

  <section class="lessons">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 lesson">
          <i class="fas fa-play-circle play"></i>
          <h2>Lesson1 | Boolean Algebra</h2>
          <i class="far fa-clock clock"></i>
          <span>5m:10s</span>
        </div>
        <div class="col-sm-3 comment text-center">
          <img class="img-fluid" src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg" alt="">
          <h5>Nice Course</h5>
          <div class="star">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
