<div class="container-fluid" id="university">
  <div class="row">
    <div class="col-md-4">
      <div class="first">
        <h1>3M+</h1>
        <h3>Student Learn</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="second">
        <h1>70K+</h1>
        <h3>Active Course</h3>
      </div>
    </div>
    <div class="col-md-4">
      <div class="third">
        <h1>100+</h1>
        <h3>Course</h3>
      </div>
    </div>

    <div class="feedback">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
            <div class="row">
            <div class="feed col-lg-4 col-md-6">
              <div class="card-body">
                <div routerLink="/category" class="card text-center">
                  <img src="../../assets/images/fcec5d67-def9-4f1d-b25c-c10f052c9ec7-removebg-preview.png" alt="">
                  <h3>جامعة الكويت</h3>
               </div>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card-body">
                <div  routerLink="/category" class="card text-center">
                  <img src="../../assets/images/نصهف.png" alt="">
                  <h3>جامعة الكويت للعلوم والتكنولوجيا</h3>
                 </div>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card-body">
                <div routerLink="/category"  class="card text-center">
                  <img src="../../assets/images/1200px-Flag_of_Egypt.svg.png" alt="">
                  <h3>منهج مدارس مصر </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="feed col-lg-4 col-md-6">
                  <div class="card-body">
                    <div routerLink="/category"  class="card text-center">
                      <img src="../../assets/images/fcec5d67-def9-4f1d-b25c-c10f052c9ec7-removebg-preview.png" alt="">
                      <h3>جامعة الكويت</h3>
                   </div>
                  </div>
                </div>
                <div class="feed col-lg-4 col-md-6">
                  <div class="card-body">
                    <div routerLink="/category"  class="card text-center">
                      <img src="../../assets/images/نصهف.png" alt="">
                      <h3>جامعة الكويت للعلوم والتكنولوجيا</h3>
                     </div>
                  </div>
                </div>
                <div class="feed col-lg-4 col-md-6">
                  <div class="card-body">
                    <div routerLink="/category"  class="card text-center">
                      <img src="../../assets/images/1200px-Flag_of_Egypt.svg.png" alt="">
                      <h3>منهج مدارس مصر </h3>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>

  </div>
</div>
