<div class="container-fluid" id="blog">
  <div class="row">
    <div class="feedback">
      <h1 class="text-center">What our students say about us</h1>
      <p class="text-center">Created by experts, elearner Academy's feedback of trusted practice and lessons .</p>
      <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
            <div class="row">
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
          </div>
        </div>
          </div>
          <div class="carousel-item">
            <div class="container">
            <div class="row">
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
            <div class="feed col-lg-4 col-md-6">
              <div class="card text-center">
                <div class="card-body">
                  <div class="media">
                    <img src="../../assets/images/cheerful-young-caucasian-businessman_171337-727.jpg">
                  </div>
                  <div class="media-body">
                    <h5 class="card-title text-center">Mohamed Ibrahim </h5>
                    <span>UI/UX Designer</span>
                    <div class="star">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
                <hr>
                <p>"Design is a way of life, a point of view. It involves the whole complex of visual communications talent, creative ability, manual skill, and technical knowledge."</p>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
