<div class="container-fluid" id="home">

  <div class="row parent">
    <div class="col-md-6 info ">
        <img src="../../assets/images/cd.png" alt="cd-image">
        <span>Are you ready to learn?</span>
        <h1>Start learning new things Daily</h1>
        <p>We are a nonprofit with mission to provide a free. world-class education for anyone, anywhere .</p>
        <input type="text" class="form-control" placeholder="Search your favorite courses">
        <button class="search input-group-text">Search</button>
        <button class=" start input-group-text" routerLink="/category">Get Start</button>
    </div>

    <div class="col-md-6 images">
        <img class="img-fluid student-image" src="../../assets/images/Background1.png" alt="group-image">
    </div>
  </div>
</div>
